body{
	background:#2C3C49;
    }
.place{
	   display:flex;
       margin-top:100px;
	   margin-left:180px;
	  }
.box{
	 width:250px;
     height:440px;
	 border:2px solid #44525F;
     text-align:center;
	 color:white;
	 font-size:18px;
	}
.box .content-color{background:#283643;}
.box .content-color1{color:grey;}
.box .content-color2{color:#5384A4;}
.box .btn{color:white;
	      padding:8px;
          border-radius:20px;
		  overflow: hidden;
          background:#4F5765;}
.box:hover{margin-top:-20px;
        /*   margin-bottom:10px;*/
	    /*  height:440px;*/
		    height:480px;
			width: 280px;
	       border:5px solid #4BA3CA;}
.box:hover .content-color2{color:#EF5C22;}
.box:hover .btn{background:#EF5C22;}
/*.box:hover .place{padding-top:10px;}